.box {
  display: flex;
  flex-wrap: wrap;
  width: 100vw !important;
  overflow: scroll;
  padding: 1%;
}

.box::-webkit-scrollbar {
  display: none;
}

.box {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
