.random-scroll-container {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  overflow: hidden;
}

.random-letter {
  display: inline-block;
  /* margin: 0 0.05vw; */
}
